<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>ElectroMaster | Listado de Productos</title>
  <link rel="icon" href="favicon.ico">
    <!-- Bootstrap core CSS -->
     <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    
    <!-- Plantilla -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
 		<!-- Bootstrap -->
 		<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
 		<!-- Slick -->
 		<link type="text/css" rel="stylesheet" th:href="@{/css/slick.css}"/>
 		<link type="text/css" rel="stylesheet" th:href="@{/css/slick-theme.css}"/>
 		<!-- nouislider -->
 		<link type="text/css" rel="stylesheet" th:href="@{/css/nouislider.min.css}"/>
 		<!-- Font Awesome Icon -->
 		<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
 		<!-- Custom stlylesheet -->
 		<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/> 
  </head>

  <body>
    <!-- HEADER -->
    		<div th:insert="fragments/topheader :: subnavegacion-principal"></div>
				 <!-- HEADER -->

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Productos</strong></h4>              
          <div class="card-body">
            <a class="btn btn-primary" th:href="@{/productos/create}" title="Crear nueva Oferta de Trabajo" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>            
            <hr>
           <div th:if="${msg != null}" class='alert-success' th:text="${msg}" role='alert'></div>
           </br>
            <table class="table table-hover">
              <thead class="thead-light">
              
                <tr>
                  <th scope="col">Categoría</th>
                  <th scope="col">Nombre</th>                  
                  <th scope="col">Fecha Pub.</th>
                   <th scope="col">Nuevo</th>
                  <th scope="col">Oferta</th>
                  <th scope="col">Disponible</th>
                  <th scope="col">Descuento</th>
                  <th scope="col">PrecioDescuento</th>
                  <th scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
          <tr th:each="producto : ${productos}">
                 <td th:text="${producto.categoria.nombre}"></td>    
                  <td th:text="${producto.nombre}"></td>                  
                  <td th:text="${producto.fecha}"></td>
                   <td th:text="${producto.nuevo==1 ? 'SI' : 'NO'}"></td>
                  <td th:text="${producto.oferta}"></td>
                  <td th:text="${producto.disponible==1 ? 'SI' : 'NO' }"></td>
                  <td th:text="${producto.descuento}"></td>    
                  <td th:text="${producto.preciocondescuento}"></td>  
                  <td>
                    <a th:href="@{/productos/edit/{id} (id=${producto.id}) }" class="btn btn-danger btn-sm" role="button" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a th:href="@{/productos/delete/{id} (id=${producto.id}) }" onclick="confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                  </td>
                               
              </tbody>
            </table>
            <nav th:if="${productos.totalPages > 0}" aria-label="Page navigation example" >
				<ul class="pagination"> 
					<li class="page-item"><a th:href="@{/productos/indexPaginate(page=${productos.number - 1})}" class="page-link">Anterior</a></li>
					<li class="page-item"><a th:href="@{/productos/indexPaginate(page=${productos.number + 1})}" class="page-link">Siguiente</a></li> 
				</ul>
</nav>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina" >
      
    	</footer>	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script> 
  </body>
</html>