<div th:fragment="navegacion-principal">
<!-- NAVIGATION -->
		 <nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
								<li><a><i class="fa fa-phone"></i> +021-95-51-84</a></li>
								<li><a><i class="fa fa-envelope-o"></i> email@email.com</a></li>
								<li><a><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
						
					</ul>
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
<!-- /NAVIGATION -->
</div>