<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listado de productos</title>
</head>
<body>


	<h1>Listado de productos</h1>
	
	<table>
  <tr>
    <th>imagen</th>
    <th>id</th>
    <th>nombre</th>
    <th>descripcion</th>
    <th>precio</th>
    <th>oferta</th>
    
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>

</body>
</html>